$clr-red: rgb(187, 3, 3);

body {
    font-family: 'PT Sans', sans-serif;
}

.main {
    height: 100%;
    margin: 5rem;
}

.text-boxes {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    grid-template-rows: repeat(23, max-content);
    grid-template-areas:" A  I  . "
                        " A  I  B "
                        " .  I  B "
                        " C  I  B "
                        " C  I  . "
                        " C  I  D "
                        " .  I  D "
                        " E  I  D "
                        " E  I  . "
                        " E  I  F "
                        " .  I  F "
                        " G  I  F "
                        " G  I  . "
                        " G  I  H "
                        " .  I  H "
                        " J  I  H "
                        " J  I  . "
                        " J  I  K "
                        " .  I  K "
                        " L  I  K "
                        " L  I  . "
                        " L  I  M "
                        " .  I  M ";;
}

.grouper {
    display: flex;
    align-items: center;
}

.grouper:nth-child(1) {
    grid-area: A;
}

.grouper:nth-child(2) {
    grid-area: B;
}

.grouper:nth-child(3) {
    grid-area: C;
}

.grouper:nth-child(4) {
    grid-area: D;
}

.grouper:nth-child(5) {
    grid-area: E;
}

.grouper:nth-child(6) {
    grid-area: F;
}

.grouper:nth-child(7) {
    grid-area: G;
}

.grouper:nth-child(8) {
    grid-area: H;
}

.grouper:nth-child(9) {
    grid-area: J;
}

.grouper:nth-child(10) {
    grid-area: K;
}

.grouper:nth-child(11) {
    grid-area: L;
}

.grouper:nth-child(12) {
    grid-area: M;
}

.h-line {
    background-color: black;
    min-width: 50px;
    height: 3px;
}

.item-number {
    display: grid;
    text-align: end;
    justify-content: center;
    align-items: center;
    min-height: 42px;
    min-width: 42px;
    background-color: white;
    border: 3px solid black;
    border-radius: 999px;
    aspect-ratio: 1;
    position: absolute;
    right: calc(50% - 21px);
    font-size: 1.5rem;
}

.vertical-line {
    height: 100%;
    border-left: 3px solid rgb(0, 0, 0);
    grid-area: I;
}

.content {
    height: min-content;
    border-radius: 5px;
    // border: 1px solid rgba(0, 0, 0, 0.19);
    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.59);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;

    p {
        padding: 1em;
        align-items: center;
        align-self: center;
    }

    img {
        padding: 5px;
        object-fit: cover;
        border-radius: 9px;
    }
}

.content:hover, .content ~ .item-number:hover, .content:has(~ .item-number:hover)  {
    border-color: $clr-red;
}

.content:hover ~ .item-number, .item-number:hover {
    border-color: $clr-red;
    color: $clr-red;
}

/* ".content:hover ~ .h-line" only selects the FOLLOWING siblings, */
/* ".h-line:has(~ .content:hover)" only selects the PRECEEDING siblings, */
.content:hover ~ .h-line, .h-line:has(~ .content:hover) {
    background-color: $clr-red;
}

.item-number:hover ~ .h-line, .h-line:has(~ .item-number:hover) {
    background-color: $clr-red;
}

/* aligns the top div with the vertical line */
.first-content-item {
    align-self: start;
}

/* aligns the bottom div with the vertical line */
.last-content-item {
    align-self: end;
}

.left {
    // text-align: end;
    justify-self: end;
}

@media screen and (max-width:940px) {
    .main {
        margin: 2px;
        padding: 0;
    }

    .content {
        display: grid;
        align-items: center;
        height: auto;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.59);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

        img {
            // padding: 0;
            width: 100%;
            border-radius: 0;
        }
    }

    .h-line {
        min-width: 16px;
    }

    .item-number {
        display: flex;
        min-height: 22px;
        min-width: 22px;
        font-size: 1rem;
        border-width: 1px;
        right: calc(50% - 10px);
        // aspect-ratio: 0;
    }

}